body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $primary;
}

span {
  cursor: text;
}

.heading {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.subheading {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.section-title {
  font-size: 16px;
  font-weight: 500;
}
